@model IEnumerable<denemeMVC.Models.BlogModel>
@{
    ViewBag.Title = "Home Page";
}

<h1>Blog Listesi</h1>



@Html.Partial("BlogListesi", Model)


@section SagKolon {
    @{ Html.RenderAction("KategoriListesi", "Category");}

}





